@charset "utf-8";
body{
  font-family: Arial, Helvetica, sans-serif;
}

h1,h2,h3,h4,h5,h6{
 margin:0;
 padding:0;
}

 header,main,footer{
width:90vw;
margin: auto;
 }
.headerLogo{
  max-width: 50%;
}
 .navbar-nav{
  text-align: center;
  font-size:1.3rem;
 }

.infoCard figure{
 max-width:300px;
 margin: auto;
}

@media screen and (min-width:600px) {


  .navbar-nav{
  font-size:1rem;
 }

 .infoCard{
 display: flex;
 max-width:700px;
 flex-wrap: wrap;
 gap: calc(100px / 2);
 margin: auto;
}
.infoCard figure{
max-width: 300px;
 
}
}


@media screen and (min-width:992px) {
 header,main,footer{
  width:1000px;
  margin: auto;
   }
.navbar-nav{
  font-size:1rem;
 }
 
 .infoCard{
 display: flex;
 max-width:1000px;
 flex-wrap: wrap;
 gap: calc(100px / 3);
}
.infoCard figure{
 flex-basis: 300px;
}

}
